.meal-group {
    margin-bottom: 14px;
}

.meal-row {
    padding: 8px 0;
}

.meal {
    display: inline-block;

    + .meal {
        border-top: 1px solid #EEE;
    }
}

.people {
    float: right;

    .person {
        margin-left: 10px;
        float: left;
    }
}

.error-container {
    display: none;
    background: #DF2626;
    padding: 10px;
    border: 1px solid #A51919;
    border-radius: 4px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
